
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FAFAF8;
}


header {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);  
  margin: 0;
 
}


.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}


header h1 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 500;
  color: #222;
}


main{
  padding: 40px 30px 10px;
}
.add-ing-form{
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ing-form > input{
  border-radius: 6px;
  border: 1px;
  padding: 9px 13px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ing-form > button{
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875 rem;
  font-weight: 500;
}

.add-ing-form > button::before{
  content: "+";
  margin-right: 5px;

}